# Documentation: `https://github.com/PixlOne/logiops/wiki/Configuration`

devices: (
{
    # (use `sudo logid -v` to get the name)
    name: "Wireless Mouse MX Master 3";

    # always freespin
    smartshift: { 
        on: false;
    };

    # high-resolution scrolling
    hiresscroll:
    {
        hires: true;
        invert: false;
        target: false;
    };
    
    # how fast/slow the cursor moves
    dpi: 1000;

    # Customize button behavior:
    #   - Any button can be customized as a gestures button, see `https://github.com/PixlOne/logiops/wiki/Configuration#gestures`.
    #   - The term "cid" refers to the button code, see `https://github.com/PixlOne/logiops/wiki/CIDs`.
    #   - "keys" is the key sequence that the button will trigger, what the key sequence does is defined by the window manager key bindings configuration. Key names are defined by the Linux kernel, see `https://github.com/torvalds/linux/blob/master/include/uapi/linux/input-event-codes.h`. 
    buttons: (
        {
            # ================================
            # Remap `Toggle SmartShift` button
            # ================================
            cid: 0x00c4;
            action =
            {
                type: "Gestures";
                gestures: (
                    {
                        # launch color picker
                        direction: "None";
                        mode: "OnRelease";
                        action =
                        {
                            type: "Keypress";
                            keys: ["KEY_LEFTMETA", "KEY_X"];
                        };
                    },
                    {
                        # toggle last workspace
                        direction: "Up";
                        threshold: 25;
                        mode: "OnThreshold";
                        action =
                        {
                            type: "Keypress";
                            keys: ["KEY_LEFTMETA", "KEY_SPACE"];
                        };
                    },
                    {
                        # change DPI (makes it easier to pick a color)
                        # https://github.com/PixlOne/logiops/issues/394
                        direction: "Down";
                        threshold: 25;
                        mode: "OnThreshold";
                        action =
                        {
                            type: "CycleDPI";
                            dpis: [500, 1000];
                        };
                    },
                    {
                        # screenshot dark
                        direction: "Left";
                        threshold: 25;
                        mode: "OnThreshold";
                        action =
                        {
                            type: "Keypress";
                            keys: ["KEY_LEFTMETA", "KEY_G"];
                        };
                    },
                    {
                        # screenshot light
                        direction: "Right";
                        threshold: 25;
                        mode: "OnThreshold";
                        action =
                        {
                            type: "Keypress";
                            keys: ["KEY_LEFTMETA", "KEY_LEFTSHIFT", "KEY_G"];
                        };
                    },
                );
            };
        },
        {
            # ======================
            # Remap `Gesture` button
            # ======================
            cid: 0x00c3;
            action =
            {
                type: "Gestures";
                gestures: (
                    {
                        direction: "None";
                        mode: "OnRelease";
                        action =
                        {
                            type: "ChangeHost";
                            host: "next";
                        };
                    },
                );
            };
        },
    );
}
);
