# Notes:

# For more information, visit:
#   - program documentation --- https://github.com/PixlOne/logiops
#   - arch docs --- https://wiki.archlinux.org/title/Logitech_MX_Master

devices: (
{
    # use `sudo logid -v` to get the name
    name: "Wireless Mouse MX Master 3";

    # always freespin
    smartshift: { 
        on: false;
    };

    # high-resolution scrolling
    hiresscroll:
    {
        hires: true;
        invert: false;
        target: false;
    };
    
    # how fast the cursor moves
    dpi: 1000;

    # customize buttons
    #   - gestures will fire key combinations, those key combinations must be configured to do something somewhere else, like in the window manager config file
    #   - see linux key codes https://github.com/torvalds/linux/blob/master/include/uapi/linux/input-event-codes.h
    buttons: (
        {
            # thumb button -----------------------------------------------------
            cid: 0xc3;
            action =
            {
                type: "Gestures";
                gestures: (
                    {
                        # (when clicked simulate SUPER+x, the binding must be setup in the window manager)
                        direction: "None";
                        mode: "OnRelease";
                        action =
                        {
                            type: "Keypress";
                            keys: ["KEY_LEFTMETA","KEY_X"];
                        };
                    },
                    # {
                    #     direction: "Up";
                    #     mode: "OnRelease";
                    #     action =
                    #     {
                    #         type: "Keypress";
                    #         keys: ["KEY_VOLUMEUP"];
                    #     };
                    # },
                    # {
                    #     direction: "Down";
                    #     mode: "OnRelease";
                    #     action =
                    #     {
                    #         type: "Keypress";
                    #         keys: ["KEY_VOLUMEDOWN"];
                    #     };
                    # },
                    # {
                    #     direction: "Left";
                    #     mode: "OnRelease";
                    #     action =
                    #     {
                    #         type: "CycleDPI";
                    #         dpis: [400, 600, 800, 1000, 1200, 1400, 1600];
                    #     };
                    # },
                    # {
                    #     direction: "Right";
                    #     mode: "OnRelease";
                    #     action =
                    #     {
                    #         type = "ToggleSmartshift";
                    #     }
                    # },
                );
            };
        },
        # {
        #     cid: 0xc4;
        #     action =
        #     {
        #         type: "Keypress";
        #         keys: ["KEY_A"];
        #     };
        # }
    );
}
);
