@import "./themes/catppuccin-mocha.css";

* {
    border: none;
    border-radius: 0;
    font-family: monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: @crust;
    color: @text;
}

.topbar {
    border-bottom: 2px solid;
    border-color: @lavender;
}
.bottombar {
    border-top: 1px solid;
    border-color: @lavender;
}


/* topbar modules*/

#clock,
#workspaces {
    padding: 0 0 5px 0;
}
#clock {
    padding-left: 12px;
}
#workspaces button {
    color: @surface1;
}
#workspaces button.active {
    color: @text;
}


/* bottom bar modules */

#battery,
#cpu,
#memory,
#disk {
    padding: 8px 0 7px 0;
}

