@define-color color_bar_bg #171717;
@define-color color_fg #a6a6a6;
@define-color color_fg_active #ffffff;

* {
  font-family: monospace;
  font-size: 10px;
}

.main {
  color: @color_fg;
  background-color: @color_bar_bg;
}

#disk,
#memory,
#cpu,
#network,
#workspaces,
#bluetooth,
#battery,
#clock {
  margin: 0;
  padding: 3px 10px 2px; /* 🔥 must match the marked line below */
}

/* https://github.com/Alexays/Waybar/wiki/Module:-Hyprland#style ----------- */
#workspaces {
  padding: 0px 0px; /* replace with button padding below */
}
#workspaces button {
  min-height: 0; /* remove default */
  min-width: 0; /* remove default */
  border: none; /* remove default */
  border-radius: inherit; /* remove default, force inherit */
  padding: 3px 8px 2px; /* 🔥 must be the target line above, remove default */
  color: @color_fg;
}
#workspaces button:hover {
  /* Important!
   * This rule must go before the `active` rule for the hover bg not to be overwritten.
   * This rule only applies when mode is `dock`, leave it here in case you ever want that.
   * */
  box-shadow: inherit; /* remove default */
  text-shadow: inherit; /* remove default */
  transition: none; /* remove default */
  color: @color_fg; /* remove default */
  background: @color_bar_bg; /* remove default */
}
#workspaces button.visible {
  color: @color_fg_active;
}
